*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Righteous', cursive;
     background: black;
     color: white;
     font-size: 20px;
}

body{
     width: 100%;
}

.align-size{
     width: 40%;
     margin: auto;
     margin-bottom: 30px;
}

h1, h2{
     text-align: center;
     margin-bottom: 15px;
}
h1{
     margin-top: 10px;
     color: lightseagreen;
     text-shadow: 0 0 10px lightseagreen;
     font-size: 50px;
}
h2{
     margin-top: 10px;
     color: mediumvioletred;
     text-shadow: 0 0 10px mediumvioletred;
     font-size: 35px;
}

textarea, .slidercontainer{
     width: 100%;
}
textarea{
     padding: 10px;
     height: 200px;
     resize: none;
     border: 1px solid white;
     border-radius: 5px;
     font-size: 20px;
     outline: none;
     color: black;
     background-image: linear-gradient(to right, lightseagreen, mediumvioletred);
}
::placeholder{
     color: white;
     opacity: 0.5;
}

.slider{
     -webkit-appearance: none;
     width: 100%;
     height: 15px;
     margin-top: 10px;
     border-radius: 8px;
     background: linear-gradient(to right, lightseagreen, mediumvioletred);
     outline: none;
     opacity: .7;
     -webkit-transition: .2s;
     transition: opacity .2s;
}
.slider:hover{
     opacity: 1;
}
.slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: white;
     cursor: pointer;
}
.slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: white;
     cursor: pointer;
}

.btn-wrapper{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
button{
     width: 49%;
     padding: 20px;
     border-radius: 30px;
     font-size: 20px;
     background-color: black;
     outline: none;
     transition: .5s;
}
button:first-child{
     border: 4px solid lightseagreen;
     color: lightseagreen;
}
button:last-child{
     border: 4px solid mediumvioletred;
     color: mediumvioletred;
}
button:first-child:hover{
     background: rgb(9, 55, 59);
     text-shadow: 0 0 5px lightseagreen;
     box-shadow: 0 0 15px lightseagreen, inset 0 0 15px lightseagreen;
}
button:last-child:hover{
     background: rgb(54, 7, 41);
     text-shadow: 0 0 5px mediumvioletred;
     box-shadow: 0 0 15px mediumvioletred, inset 0 0 15px mediumvioletred;
}

@media only screen and (max-width: 768px) {
     button{
          width: 100%;
          margin-bottom: 15px;
     }
}
